.footer{
   background-color: var(--light-grey);
   &__body{
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: var(--grey);
   }
}