.header__search,
.types__search {
  background: var(--white);
  @include adaptiveValue('height', 45, 35);
  border-radius: 24px;
  padding: 2px 2px 2px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  &-input {
    flex: 1 1 100%;
    @include adaptiveValue('font-size', 18, 14);
    color: var(--grey);
    &:disabled::-webkit-input-placeholder { /* WebKit browsers */
      color:var(--disabled-grey);
      cursor: not-allowed;
    }
    &:disabled::-moz-placeholder  { /* Mozilla Firefox 4 to 18 */
      color:var(--disabled-grey);
      cursor: not-allowed;
    }
    &:disabled:-moz-placeholder  { /* Mozilla Firefox 19+ */
      color:var(--disabled-grey);
      cursor: not-allowed;
    }
    &:disabled::-ms-input-placeholder  { /* Internet Explorer 10+ */
      color:var(--disabled-grey);
      cursor: not-allowed;
    }
  }
  &-loupe {
    img {
      @include adaptiveValue('width', 26, 22);
      @include adaptiveValue('height', 26, 22);
    }
  }
  &-close {
    cursor: pointer;
    img {
      @include adaptiveValue('width', 26, 22);
      @include adaptiveValue('height', 26, 22);
    }
  }
  &-box {
    flex: 1 1 100%;
  }
  &-inner-box {
    display: flex;
    @include adaptiveValue('gap', 12, 5);
    align-items: center;
  }
  &-btn {
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue('width', 100, 70);
    height: 40px;
    border-radius: 24px;
    color: var(--white);
    @include adaptiveValue('font-size', 22, 16);
    text-transform: uppercase;
    transition: all 0.3s ease;
    position: relative;
    &:hover {
      background: #000;
    }
    &:disabled{
      cursor: not-allowed;
    }
    &.hidden{
      display: none;
    }
  }
}

.btn-pokeball {
  position: absolute;
  left: -3px;
  @include adaptiveValue('top', 0, -5);
  width: 41px;
  height: 41px;
  transform: translateX(-100%);
  visibility: hidden;
  &.active {
    visibility: visible;
    animation: spin 1000ms linear infinite, moveLeftToRight 2s linear;
  }
}

/* Spinning the sphere using key frames */
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Move sphere from left to right */
@-moz-keyframes moveLeftToRight {
  0% {
    left: 0px
  }
  100% {
    @include adaptiveValue('left', 56, 23);
  }
}
@keyframes moveLeftToRight {
  0% {
    left: 0px;
  }
  100% {
    @include adaptiveValue('left', 56, 23);
  }
}
@-webkit-keyframes moveLeftToRight {
  0% {
    left: 0px;
  }
  100% {
    @include adaptiveValue('left', 56, 23);
  }
}
