.header {
  background: var(--main-blue);

  &__body {
    padding: 50px 0px;
    box-shadow: 0 0 200px 10px #072ac8 inset;
    background: url("../../assets/img/pokeball.png") right -70px / contain no-repeat;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 30px;
  }
}
