.types{
   @include adaptiveValue('padding-top', 10, 0);
   @include adaptiveValue('padding-bottom', 30, 10);
   &__row{
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue('gap', 20, 10);
      flex-wrap: wrap;
   }
   &__type{
      padding: 10px 20px;
      color: var(--white);
      @include adaptiveValue('font-size', 18, 14);
      border-radius: 12px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover{
         transform: translate3D(0, -1px, 0) scale(1.07);
         transition: all 0.4s ease;
      }
      &.active{
         transform: scale(1.09);
         box-shadow: 1px 3px 3px 0px var(--grey);
      }
      &.all{
         background: #072AC8;
      }
   }
}