.types{
   @include adaptiveValue('padding-top', 10, 0);
   @include adaptiveValue('padding-bottom', 20, 10);
   &__body{
      position: relative;
   }
   &__row{
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue('gap', 20, 10);
      flex-wrap: wrap;
   }
   &__type{
      position: relative;
      @include adaptiveValue('padding-top', 10, 5);
      @include adaptiveValue('padding-bottom', 10, 5);
      @include adaptiveValue('padding-right', 20, 10);
      @include adaptiveValue('padding-left', 20, 10);
      color: var(--white);
      @include adaptiveValue('font-size', 18, 14);
      border-radius: 12px;
      border: 2px solid transparent;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
      @media (max-width: 475px){
         border-radius: 8px;
         border-width: 1px;
      }
      &-closeIcon{
         position: absolute;
         right: 2px;
         top: 2px;
         width: 14px;
         height: 14px;
         cursor: pointer;
      }
      &:hover{
         transform: translate3D(0, -1px, 0) scale(1.07);
         transition: all 0.4s ease;
      }
      &.active{
         transform: translate3D(0, -1px, 0) scale(1.07);
         border-color: var(--black);
         box-shadow: 1px 3px 3px 0px var(--grey);
      }
      &.all{
         background: #072AC8;
         &.disabled{
            pointer-events: none;
            opacity: 0.6;
         }
      }
      &.disabled{
         pointer-events: none;
         opacity: 0.6;
      }
      &.choosen{
         color: var(--black);
         border: 2px solid var(--black);
         display: inline-block;
      }
   }
   &__choice{
      position: absolute;
      left: 0;
      top: -100%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      max-height: 0px;
      width: 100%;
      @include adaptiveValue('padding', 20, 10);
      transition: all 0.5s ease;
      pointer-events: none;
      &.opened{
         pointer-events: all;
         top: 110%;
         overflow: visible;
         opacity: 1;
         max-height: 175px;
         z-index: 10;
         background: var(--light-grey);
         border-radius: 16px;
         border: 2px solid var(--main-blue);
         @media (max-width: 700px){
            top: 105%;
         }
      }
      &-text{
         display: inline-block;
         @include adaptiveValue('font-size', 20, 16);
         background: var(--main-blue);
         border-radius: 16px;
         @include adaptiveValue('padding-top', 10, 5);
         @include adaptiveValue('padding-bottom', 10, 5);
         @include adaptiveValue('padding-right', 20, 10);
         @include adaptiveValue('padding-left', 20, 10);
         color: var(--white);
         font-weight: 500;
      }
      &-list{
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         @include adaptiveValue('gap', 10, 6);
      }
      &-closeIcon{
         position: absolute;
         right: 5px;
         top: 5px;
         @include adaptiveValue('width', 30, 20);
         @include adaptiveValue('height', 30, 20);
         cursor: pointer;
      }
   }
}